 a {
    text-decoration:wavy;
    color:burlywood;
    font-weight: bold;
    font-size: 20px
}
a:hover {
   color: black;
   font-size:160%;
}
.active {
    color: chartreuse;
    font-style: italic;
    background-color: blueviolet;
}
body{
    background-color: darkcyan;
}
p{
    color: gold;

}
h2{
    color: greenyellow;
}
tr{
    color:lawngreen;
}
table,tr,th,td  {border: 2px solid blue;
}

caption{
    color: darkseagreen;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
}
li{
    float: left;
}
li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
